.custom-form {
  background-color: #464b52;
  margin: 30px;
  margin-left: 50px;
  margin-right: 50px;
  padding: 30px;
  color: whitesmoke;
  border-radius: 10px;
}

.custom-form hr {
  background-color: white;
}
