body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: black;
}
html,
body {
  height: 100%;
  margin: 0;
}
.mainPage {
  background: #2b2f33;
  min-height: 100%;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.linkText,
.linkText:visited {
  color: whitesmoke;
  text-decoration: underline;
}

.linkText:hover {
  color: rgb(162, 182, 199);
}

.d-block {
  display: block;
  width: 50%;
  height: 50%;
  height: auto;
  margin: auto;
  max-width: 100%;
  line-height: 1;
}

.carouselContainer {
  display: flex;
  width: 75%;
  margin: auto;
  padding: 30px;
}

.dropdownContainer {
  position: relative;
  z-index: 9999;
}
