.navBar {
  list-style-type: none;
  background-color: #464b52;
  margin: 0;
  padding: 0;
  width: 100%;
  overflow: hidden;
}

.navBar li {
  float: left;
  text-align: center;
  padding: 15px;
  text-decoration: none;
  font-size: 17px;
  color: whitesmoke;
}

.nav-link:hover {
  background-color: #304461;
}
